
.DS_Store
4. Convolutional Neural Networks/week2/ResNets/ResNet50.h5
*.h5
*.mp4
4. Convolutional Neural Networks/week4/Neural Style Transfer/pretrained-model/imagenet-vgg-verydeep-19.mat
5. Sequence Models/week2/Emojify/data/glove.6B.50d.txt
5. Sequence Models/week2/Word Vector Representation/data/glove.6B.50d.txt
5. Sequence Models/week3 /Trigger word detection/XY_dev/X_dev.npy
5. Sequence Models/week3 /Trigger word detection/XY_train/X.npy
